@using System.Globalization
@using CampusWebSotre.Models
@model IEnumerable<CampusWebSotre.Models.SellBackCartViewModel>
@{
    ViewBag.Title = "SellBackCheckout";
}
@{if (Model.Any())
  {
      var objBaseMainConfigAdmin = new BaseMainConfigAdmin();
      
      var cashAmount = 0.00;
      
      var storeAmount = 0.00;
      if(Model.Any())
      {
          <table>
              <tr>
                  <th>
                      Title
                  </th>
                  @* requeire  // IWEB.BuyBack bbConfig = System.Configuration.ConfigurationManager.GetSection("buybackConfig") as IWEB.BuyBack;
        GridView1.Columns[1].Visible = bbConfig.StoreCredit;*@
                  @if (objBaseMainConfigAdmin.IwebBuyBackConfig.StoreCredit)
                  {
                      <th>
                          Store Credit
                      </th>
                  }
                  <th>
                      Cash Price
                  </th>
              </tr>
              @foreach (var m in Model)
              {
                  cashAmount += m.CashPrice;

                  storeAmount += m.StoreCredit;

                  <tr>
                      <td>@MvcHtmlString.Create(@m.Title)
                      </td>
                      @if (objBaseMainConfigAdmin.IwebBuyBackConfig.StoreCredit)
                      {
                          <td>@m.StoreCredit
                          </td>
                      }
                      <td>@m.CashPrice
                      </td>
                  </tr>



              }
          </table>
          <br />
          <br />
          @Html.Label("CashTotal")
          @cashAmount.ToString("C",new CultureInfo("en-us"))
          <br />

          @Html.Label("StoreTotal")
          @storeAmount.ToString("C",new CultureInfo("en-us"))
          <br />
          <br />

          <br />
      }
      <div style="float: right;">
        @Html.ActionLink("Print Voucher", "PrintVoucher", "Account")
    </div>
  }
}
