@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.iPhone.cshtml";
}
<link href="@Url.Content("~/Content/styles/mobile/jquery.mobile.css")" rel="stylesheet" type="text/css" />
<h2>
    Send password</h2>
<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery("#btnSubmit").click(function () {

            jQuery("#imgLoading").show();

            jQuery.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("JsonForgotPassword","Account")',
                data: {
                    UserName: jQuery("#txtUsername").val()
                },
                success: function (data) {

                    jQuery("#imgLoading").hide();

                    if (data.success) {

                        alert('Password has been sent to your email address');

                    } else {

                        jQuery("#lblError").html(data.errorMsg).show();
                    }
                }
            });
        });
    });
   
</script>

@*<div>
    <br />
    <br />
    <center>
        Type in your username, and we will email you your password on file. If your email
        address is out of date
        <br />
        please contact the bookstore for more help.</center>
    <br />
    <br />
    <label id="lblError" style="color: red;font-weight:bold">
    </label>
    <br/>
    <label>
        UserName:</label>
    <input type="text" id="txtUsername" name="txtUsername" />
    <img id="imgLoading" src="@Url.Content("~/Content/images/Mobile/loading_normal_up.gif")" alt="loading" style="display: none;"/>
    <input type="submit" id="btnSubmit" value="Email my password" />
</div>*@
<div>
<section id="page1" data-role="page">
          
            <div data-role="content" class="content">
<div id="headerproduct">
    <!--header-->
    <img src="@Url.Content("~/Content/Images/bar_top.png")" style="vertical-align: top;" width="181" />
</div>
<!--//header-->
<div class="cartcontainer">
    <!--container-->
    <div id="dialog">
    </div>
    <form id="frmCourse" runat="server">
    @Html.Partial("EditorTemplates/MobileHeader")
    <div class="clear">
    </div>
    <div class="bradecumpro">
        <a href="#" class="left">@ViewBag.Title</a>
    </div>
    <div id="contentBodyDivInner">
        <p id="title">
        </p>
        <div class="sellbackbooks">
            <p>
                <span style="font-size: Smaller;"> Type in your username, and we will email you your password on file. If your email
        address is out of date
        <br />
        please contact the bookstore for more help.</span>
            </p>
          
            <center>
          
    <input style="float:none" type="text" id="txtUsername" name="txtUsername" /></center>
           <div class="clear"></div><div data-type="horizontal" data-role="controlgroup" class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal">
                                                 <center>   <a id="btnSubmit" data-role="button" style="float:none;width:90%;"  data-theme="c" class="ui-btn ui-corner-right ui-corner-left ui-btn-up-c">
                                                  <span class="ui-btn-inner ui-corner-left ui-corner-right"><span class="ui-btn-text">Email My Password</span></span></a></center></div>
          @*  <input type="submit" id="btnSubmit" value="Email my password" />*@
           <center>
              <span id="lblError" style="color: red;font-weight:bold">
    </span></center>
            <br>
           
            <div>
            </div>
           
            </div>
           
        </div>
   
    
    </form>
</div>
</div></section>
</div>
