@using CampusWebSotre.Models
@model IEnumerable<CustomerViewModel>
@if (Model.Any())
{
<table class="orderhistory th_bold" cellspacing="0" cellpadding="0" border="0" style="width:762px; margin-top:10px;">
    
    <tr class="heding">
        <th scope="col">
            Username:
        </th>
        <th scope="col">
            Name:
        </th>
        <th scope="col">
            Email Address:
        </th>
        <th scope="col">
            Phone Number:
        </th>
        <th scope="col">
            City:
        </th>
        <th scope="col">
            State:
        </th>
        <th scope="col">
            Zip:
        </th>
    </tr>
    @foreach(var  m in Model)
     {
         <tr>
        <td>
       <a href="#" onclick="javascript:GetCustomerDetail('@m.UserName')">@m.UserName</a> 
        </td>
         <td>
        @m.Name
        </td>
         <td>
        @m.Email
        </td>
         <td>
         @m.Phone
        </td>
         <td>
         @m.City
        </td>
         <td>
         @m.State
        </td>
         <td>
         @m.Zip
        </td>

         </tr>
     }
     </table>
}
else
{
   <div>No record found</div>
    
}